*{
 margin: 0;
}

.App__post{
  margin:20px ;
  display: flex;
  justify-content: center;
  background-color: #fafafa
}
.App{
  height: 100vh;
  background-color: #fafafa;
}

.App__img{
  height: 80px;
}
.App__header{
 background-color: white;
 object-fit: contain;
 border-bottom: 1px solid lightgray;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.App__AuthticationButton {
  border: 1px solid lightgray;
  margin-right: 20px;
}
.App__signup{
  display: flex;
  flex-direction: column;
}
